.container {
    display: flex;
    
}
.container__image{
    margin: 20px 30px 0 0;
        width: 200px;
        align-self: flex-start;
}
.container__text {
    flex: 1 1 auto;
}
header {
    background-color: #669999;
}
section {
    display: flex;
    justify-content: space-around;
}
