.container {
    display: flex;
    
}
.container__image{
    margin: 20px 30px 0 0;
        width: 200px;
        align-self: flex-start;
}
.container__text {
    flex: 1 1 auto;
}

/* section {
    display: flex;
    justify-content: space-between;
} */
body {
    background-color: #000000;
    color: white;
}
h3 {
    color: rgb(153, 102, 102)
}